@import 'base/base';
@import 'base/variables';
@import 'base/mixin';

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

body {
    position: relative;
}

.header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 122;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.header-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.header-logo {
    margin-left: 20%;
    display: flex;
}

.header-logo-img {
    margin-top: 26px;
    margin-right: 13px;
}

.header-logo-text {
    margin-top: 32px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
}

.header-nav {
    height: 24px;
    width: 437px;
    margin-top: 27px;
    margin-right: 20%;
}

.header-nav-ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-nav-li>a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav-li>a:hover {
    border: none;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.active>a {
    text-decoration: none;
    border: none;
    border-bottom: 1px solid white;
}

.homeslider {
    height: 100vh;
    // background-color: aquamarine;
}

.leftArrow {
    position: absolute;
    top: 47%;
    left: 3%;
}

.rightArrow {
    position: absolute;
    top: 47%;
    right: 3%;
}

// #player {}

.radio{
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    top:90%;
    // left: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.slider{
    margin: 8px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: white;
}
.slider-active{
    margin: 5px;
    height: 19px;
    width: 19px;
    border: 1px solid #00A031;
    padding: 3px;
    background: #00A031 content-box;
}

// #play{
//     position: absolute;
//     padding: 10px;
//     width: 34px;
//     height: 37px;
//     top: 450px;
//     left:10px;
//     border-radius: 3px;
//     background-image: url(image/play2.png);
//     background-size: 60px 60px;
//     background-position: 62px 50px;
// }
// #pause{
//     position: absolute;
//     padding: 10px;
//     width: 34px;
//     height: 37px;
//     top: 450px;
//     left:10px;
//     display: none;
//     border-radius: 3px;
//     background-image: url(image/play2.png);
//     background-size: 68px 60px;
//     background-position: 35px 50px;
// }
.preview{
    position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    display: none;
    top: 420px;
    border: 2px solid white;
    border-radius: 4px;
}




.section-services{
    height: 100vh;
    width: 100%;
    background-color: burlywood;
}
.section-team{
    height: 100vh;
    width: 100%;
    background-color: rgb(135, 195, 222);
}
.section-contact{
    height: 100vh;
    width: 100%;
    background-color: rgb(135, 222, 150);
}
